
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background: #333333;
    
    scroll-behavior: smooth;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #c2c2c2;
}

.form-search {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.form-search input {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.form-search button {
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #0d588a;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-search button:hover {
    background-color: #2980b9;
}



.receitas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}


.receita-card {
    background-color: #263852;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s, box-shadow 0.2s;
}

.receita-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.receita-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.receita-card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.receita-card-content h2 {
    font-size: 1.25rem;
    margin: 0 0 10px 0; 
}

.receita-card-content .tags {
    margin-bottom: 10px;
}

.receita-card-content .tags span {
    background-color: #e9ecef;
    color: #495057;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.75rem;
    margin-right: 5px;
    display: inline-block; 
    margin-bottom: 5px;
}

.receita-card-content .tempo-preparo {
    margin-top: auto; 
    font-weight: bold;
    color: white;
}

/* celulares */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .form-search {
        flex-direction: column;
    }
}

/* pagina de detalhe */

.detalhe-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin: 20px auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.container h2 {
    color: #c2c2c2;
    border-bottom: 1px solid #4e5357;
    padding-bottom: 10px;
    margin-top: 30px;
}

.container p, .container li {
    color: #b0b0b0;
    line-height: 1.6;
    font-size: 1.1rem;
}

.container ul {
    list-style-type: none;
    padding-left: 0;
}



.back-link {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #4a4a4a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-link:hover {
    background-color: #5a5a5a;
}